# Anscombe's Quartet

Anscombe's quartet is a set of four simple 2-Dimensional data sets with similar statistical properties. Each data set consists of eleven points.
Their basic descriptive statistics are the same but their plots are different.
It was produced by the American statistician F.J. Anscombe in 1973, and published as 'Graphs in Statistical Analysis' in 'The American Statistician', Vol 27(1),17-21.

## The Data

In [1]:
import pandas as pd

#Read the dataset
df = pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/anscombe.csv")
#Print the dataset
df

    Unnamed: 0  x1  x2  x3  x4     y1    y2     y3     y4
0            1  10  10  10   8   8.04  9.14   7.46   6.58
1            2   8   8   8   8   6.95  8.14   6.77   5.76
2            3  13  13  13   8   7.58  8.74  12.74   7.71
3            4   9   9   9   8   8.81  8.77   7.11   8.84
4            5  11  11  11   8   8.33  9.26   7.81   8.47
5            6  14  14  14   8   9.96  8.10   8.84   7.04
6            7   6   6   6   8   7.24  6.13   6.08   5.25
7            8   4   4   4  19   4.26  3.10   5.39  12.50
8            9  12  12  12   8  10.84  9.13   8.15   5.56
9           10   7   7   7   8   4.82  7.26   6.42   7.91
10          11   5   5   5   8   5.68  4.74   5.73   6.89

## The Descriptive Statistics

In [4]:
#Summary statistics of the data
df.describe()

,Unnamed: 0,x1,x2,x3,x4,y1,y2,y3,y4
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,6.000000,9.000000,9.000000,9.000000,9.000000,7.500909,7.500909,7.500000,7.500909
std,3.316625,3.316625,3.316625,3.316625,3.316625,2.031568,2.031657,2.030424,2.030579
min,1.000000,4.000000,4.000000,4.000000,8.000000,4.260000,3.100000,5.390000,5.250000
25%,3.500000,6.500000,6.500000,6.500000,8.000000,6.315000,6.695000,6.250000,6.170000
50%,6.000000,9.000000,9.000000,9.000000,8.000000,7.580000,8.140000,7.110000,7.040000
75%,8.500000,11.500000,11.500000,11.500000,8.000000,8.570000,8.950000,7.980000,8.190000
max,11.000000,14.000000,14.000000,14.000000,19.000000,10.840000,9.260000,12.740000,12.500000

## The Plots

 - 1st scatterplot follows a simple linear relationship corresponding to two variables correlated, there is an assumption of normality.
 - 2nd graph is not distributed normally. There is an obvious relationship between the variables, but it is not linear. Maybe quadratic.
 - 3rd graph distribution is tight linear. The regression line should be different.
 - 4th plot shows a graph where an outlier is enough to produce a high correlation coefficient, even though the other points do not indicate a relationship between the variables.

## Why it is interesting
These datasets are an example of how useful it is to plot data before relying on summary statistics.
A visual can better decide the nature of relations and behaviour of variables.
These graphs tell us that first and second order summary statistics don't tell you everything about data.
You have to plot it as well to get more visual intuition.

In [10]:
import seaborn as sns
df = sns.load_dataset("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/anscombe.csv")
sns pairplot(df)

SyntaxError: invalid syntax (<ipython-input-10-d46fa794cb34>, line 3)